@import "styles/base.module.scss";
.sidebar {
  width: 8rem;
  height: 100vh;
  background-color: $color_secondary;
  top: 4rem;
  right: 0;
  position: fixed;
  z-index: $z-index_medium;

  @include media__tablet {
    width: 15rem;
  }

  &__wrapped {
    width: 0;
    visibility: hidden;
    opacity: 0;
  }

  transition: all 0.3s ease-in-out;
  box-shadow: 1px 1px 0px 5px $color_gray;
}

.button {
  border: 3px solid $color_black;
  border-radius: 100%;
  height: 3rem;
  width: 3rem;
  background-color: $color_primary;
  color: $color_white;
  z-index: $z-index_bold;
  position: sticky;
  top: 90%;
}

.list {
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 4rem;

  &-item {
    padding: 1rem;
    display: flex;
    justify-content: center;
    width: 100%;
    letter-spacing: 1px;
    font-size: 1.2rem;
    gap: 0.5rem;
    padding-right: 0.2rem;
    &:hover {
      background-color: $color_white;
      cursor: pointer;
    }

    &__active {
      background-color: $color_primary;
    }
  }
}
