@import "../../styles//base.module.scss";

.navbar {
  height: 4rem;
  background-color: $color_black;
  width: 100%;
  display: flex;
  align-items: center;
  color: $color_white;
  justify-content: space-around;
  font-size: small;
  position: sticky;
  top: 0;
  z-index: $z-index_bold;
  @include media__tablet {
    font-size: large;
  }
}

.logo {
  text-decoration: none;
  color: $color_white;
  cursor: pointer;
}

.menu {
  display: flex;
  gap: 2rem;
  justify-content: space-around;

  font-size: small;
  &-item {
    cursor: pointer;
    height: 100%;
    &:hover {
      color: $color_secondary;
    }
    @include media__tablet {
      font-size: large;
      padding-right: 3rem;
    }

    &__button {
      position: relative;
      width: 2rem;
      height: 1.5rem;
      text-decoration: none;
      cursor: pointer;
      border: none;
      background-color: $color_black;
    }
  }
}
