//Collors
$color_black: #000000;
$color_white: #f6f1f1;
$color_primary: #19a7ce;
$color_secondary: #146c94;
$color_gray: #a0a0a0;
//Media queries
@mixin media__tablet {
  @media (min-width: 961px) {
    @content;
  }
}

//Z-index

$z-index_light: 1;
$z-index_medium: 10;
$z-index_bold: 100;
